services:
  # 1. Banco de Dados PostgreSQL
  db:
    image: postgres:16-alpine
    container_name: postgres-pedidos
    restart: always
    environment:
      POSTGRES_USER: postgres       
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ms_pedido_db 
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. RabbitMQ (O Coração da Mensageria)
  rabbitmq:
    image: rabbitmq:3.13-management 
    container_name: rabbitmq-pedidos
    restart: always
    ports:
      - "5672:5672"   # Porta do AMQP (para os microsserviços)
      - "15672:15672" # Porta da Interface de Gerenciamento Web
    environment:
      RABBITMQ_DEFAULT_USER: guest 
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  postgres_data:
  rabbitmq_data: